# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-_n5qf%d)2%a(g*bjl%sjck8*4yz9patds=5cqma$4p71#rio!*
ALLOWED_HOSTS=*

# Database (when using Docker)
DATABASE_URL=postgresql://walksafe_user:walksafe_password@db:5432/walksafe

# For local development without Docker, use SQLite:
# DATABASE_URL=sqlite:///db.sqlite3
